* {
  box-sizing: border-box;
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
}
/* body {
  position: fixed;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  -ms-transform: translate(0);
  border: 0;
  left: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

body {
  background: #323232;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 20px;

  margin: 15px 15px;
}
#book {
  width: 70%;
  height: 100%;
}

#book img {
  /* background-size: cover; */
  width: inherit;
  height: inherit;

  /* object-fit: cover; */
}

#book .turn-page {
  background-color: white;
}
/* 
#book .cover {
}

#book .cover h1 {
    text-align: center;
    font-size: 50px;
    line-height: 500px;
    margin: 0px;
} */

#book .loader {
  background-image: url(loader.gif);
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 238px;
  left: 188px;
}

#book .data {
  text-align: center;
  font-size: 40px;
  color: #999;
  line-height: 500px;
}

#controls {
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  margin: 20px 0 0 0;
  font: 30px arial;
  color: #fff;
}

#controls input,
#controls label {
  font: 30px arial;
}

#book .odd {
  background-image: -webkit-linear-gradient(left, #fff 95%, #ddd 100%);
  background-image: -moz-linear-gradient(left, #fff 95%, #ddd 100%);
  background-image: -o-linear-gradient(left, #fff 95%, #ddd 100%);
  background-image: -ms-linear-gradient(left, #fff 95%, #ddd 100%);
}

#book .even {
  background-image: -webkit-linear-gradient(right, #fff 95%, #ddd 100%);
  background-image: -moz-linear-gradient(right, #fff 95%, #ddd 100%);
  background-image: -o-linear-gradient(right, #fff 95%, #ddd 100%);
  background-image: -ms-linear-gradient(right, #fff 95%, #ddd 100%);
}

@media (max-width: 900px) {
  #book {
    width: 100vw;
  }
}
